# Filter node stuff
node_modules/
*.log

# Filter MacOS folder store
.DS_Store

# Filter IDE settings
.idea/
.vs/
.vscode/

# Only publish 1 type of lockfile
package-lock.json

# Filter test runner
runner.js