node_modules/
*.log

.DS_Store
.idea/

.vs/
.vscode/

# Ignore yarn lock files
yarn.lock

dist/*.d.ts
dist/*.js
dist/*.map
docs/.vuepress/dist
RELEASE_NOTE*.md

playground/
Makefile

# Vuepress files
.temp
.cache
