node_modules/
*.log

.DS_Store
.idea/

.vs/
.vscode/

# Ignore package locks
package-lock.json

dist/*.d.ts
dist/*.js
dist/*.map
docs/.vuepress/dist
RELEASE_NOTE*.md

playground/
Makefile

# Yarn files
.yarn/install-state.gz
.yarn/build-state.yml
