body {
    -webkit-font-smoothing: antialiased;
}
.content {
    padding: 0 20px 20px 20px;
}
#resultTextAreaContainer {
    height: 300px;
    overflow-y: scroll;
}
.social {
    margin-bottom: 10px;
}
.jumbotron {
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-size: 16px;
    color: #fff;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    border-radius: 0;
    padding-bottom: 80px;
    background-image: -webkit-linear-gradient(left, #720e9e 0, #dd4b39 100%);
    background-image: -o-linear-gradient(left, #720e9e 0, #dd4b39 100%);
    background-image: linear-gradient(to right, #720e9e 0, #dd4b39 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff720e9e', endColorstr='#ffdd4b39', GradientType=1);
}
.jumbotron .container {
    max-width: 100%;
}
.jumbotron h1 {
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
.jumbotron .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 18px;
    background-color: rgba(0, 0, 0, 0.2);
}
.jumbotron iframe {
    width: 100px !important;
    height: 20px !important;
    border: none;
    overflow: hidden;
    margin: 2px;
}

.btn-outline {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 18px 24px;
    font-size: inherit;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    transition: all .1s ease-in-out;
}
.btn-outline:hover,
.btn-outline:active {
    color: #720e9e;
    background-color: #fff;
    border-color: #fff
}

.social-share {
    font-size: 1px;
}
.social-share iframe {
    vertical-align: middle;
}
.fb-like {
    margin-right: 15px;
    vertical-align: top;
    display: inline-block;
}
.social-share .IN-widget {
    vertical-align: middle !important;
    margin-right: 5px;
}

#searchTextbox {
  width: 100%;
}

#donate {
    height: 22px;
    display: inline-block;
    vertical-align: bottom;
}
#donate .wrapper {
  width: 115px;
  vertical-align: top;
  height: 20px;
  border: 1px solid #d4d4d4;
  display: inline-block;
  box-sizing: border-box;
  line-height: 16px;
  border-radius: 3px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
  position: relative;
}
#donate .wrapper:hover {
  border-color: #ccc;
  background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
}
#donate .wrapper img {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 5px;
}
#donate .wrapper a {
  font: 700 11px/14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  text-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 2px;
  left: 24px;
}
#donate .wrapper a:hover {
    text-decoration: none;
}

.narrow {
    margin: 0 auto;
    max-width: 1200px;
}

.operation {
  position: absolute;
  top: 30;
  right: -5px;
}

.headline-link,
.headline-link:hover,
.headline-link:link,
.headline-link:visited {
  text-decoration: none;
  color: #CDCDCD;
}
.headline-link:hover {
  font-weight: bolder;
  color: #7b7b7b;
}

@media only screen and (max-width: 990px) {
  .operation {
    position: initial;
    text-align: center;
    margin-bottom: 10px;
  }
}

#support-container {
    text-align: center;
    margin: 0 auto;
    max-width: 630px;
}
#support-container > div {
  margin-top: 40px;
}
#support-container p {
    line-height: 1.6em;
}
#support-container div a {
    color: #42b983;
}
#support-container img {
  width: 120px;
  margin-bottom: 5px;
}
#support-container a:hover {
    text-decoration: none;
}

h2 {
    text-align: center;
}
h2, h3, h4 {
    font-weight: 300;
}

pre {
  border: none;
}

footer {
    margin-top: 50px;
    color: white;
    text-align: center;
    opacity: .8;
    padding: 50px;
    background-image: -webkit-linear-gradient(left, #dd4b39 0, #720e9e 100%);
    background-image: -o-linear-gradient(left, #dd4b39 0, #720e9e 100%);
    background-image: linear-gradient(to right, #dd4b39 0, #720e9e 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffdd4b39', endColorstr='#ff720e9e', GradientType=1)
}
footer a {
    color: white;
}
footer a:hover {
    color: white;
}